﻿@{
    ViewBag.Title = "Login";
    Layout = "../Shared/_LayoutSimple.cshtml";
}

@using (Html.BeginForm("LogIn", "User", FormMethod.Post))
{
    <p style="color:red">@ViewBag.ErrorMsg</p>

    <p>Username:</p>
    @Html.TextBox("username");
    <p>Password:</p>
    @Html.Password("password");
    <br>
    <br>
    <input type="submit" value="Login!" />
}
<br>
<br>