﻿@model TeknightBlog.Models.User

@{
    ViewBag.Title = "Create user";
    Layout = "../Shared/_Layout.cshtml";
}

@using (Html.BeginForm("New", "User", FormMethod.Post))
{
    <p>Full name:</p>
    @Html.TextBoxFor(x => x.Name);

    <p>Username:</p>
    @Html.TextBoxFor(x => x.Username);

    <p>Password:</p>
    @Html.PasswordFor(x => x.PasswordHash);

    <p>Admin:</p>
    @Html.CheckBoxFor(x => x.Admin);

    <br>

    <input type="submit" value="Create user" />
}
