﻿@{ Layout = "_Layout.cshtml"; }

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
        <h3><b>@ViewBag.Title</b>
        </h3>
    </div>
    <div class="w3-container">
        @RenderBody()
    </div>
</div>
