﻿@using TeknightBlog.Models
<!DOCTYPE html>
<html>
  <meta charset="utf-8" />
  <title>@ViewData["Title"]</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="http://i.imgur.com/LUo87Gc.png">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
  <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea' });</script>
<script>hljs.initHighlightingOnLoad();</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- SidebarBlog -->
  <style>
    body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  </style>
  <body class="w3-light-grey">

  <div class="w3-content" style="max-width: 1400px">

  <!-- Header -->
  <header class="w3-container w3-center w3-padding-32">
    <h1><b>@Html.ActionLink("Hoejriis.net", "Front", "Blog")</b>
    </h1>
    <p>Welcome to the blog of</p>
    <p><span class="w3-tag">Teknight, aka Thomas Højriis Knudsen</span></p>
    <p><cite>Everything tech, programming and linux...</cite></p>
  </header>

  <!-- Grid -->
  <div class="w3-row">

    <div class="w3-col l8 s12">
      @RenderBody()
    </div>
      <!-- Introduction menu -->
    <div class="w3-col l4">
      <!-- About Card -->
      <div class="w3-card-2 w3-margin w3-margin-top">
        <img src="http://i.imgur.com/5pCeY0B.png" style="width: 100%">
        <div class="w3-container w3-white">
          <h4><b>@Html.ActionLink("Thomas Højriis Knudsen", "Posts/" + "About-me", "Blog")</b></h4>
          <p>A brief introduction to who I am. Thomas Højriis Knudsen - 20 years and studying software engineering at Aalborg University. Currently on the second semester. Huge flair for programming and Linux!</p>
        </div>
      </div><hr>

      <!-- END Introduction Menu -->
    </div>

    <!-- END GRID -->
    </div><br>

    <!-- END w3-content -->
  </div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-margin-top w3-center">
  <p> Hoejriis.net - TeknighT  |  @{
                                    User u = Session["User"] as User;
                                    if (u == null)
                                    {
                                      @Html.ActionLink("LogIn", "LogIn", "User")
                                      ;
                                    }
                                    else
                                    {
                                      @Html.ActionLink(u.Username, "LogOut", "User")
                                      ;
                                    }
                                  }
  </p>
</footer>

</body>
</html>