﻿@using TeknightBlog.Models
@model IEnumerable<Post>
@{
    ViewBag.Title = "Posts";
    Layout = "../Shared/_Layout.cshtml";
}

@foreach (Post post in Model)
{
<!-- Blog entry -->
<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
        <h3><b>@post.Title</b>
        </h3>
        <h5>@post.Author, <span class="w3-opacity">@post.PostDate.ToLongDateString()</span></h5>
    </div>

    <div class="w3-container">
        <p>@post.Description</p>
        <div class="w3-row">
            <div class="w3-col m8 s12">
                <p>
                    <b>@Html.ActionLink("READ MORE »", "Posts/" + post.UrlTitle, "Blog", null, new { @class="w3-button w3-padding-large w3-white w3-border" })</b>
                </p>
            </div>
        </div>
    </div>
</div>
<hr>
}

@if (Session["User"] is User && ((User) Session["User"]).Admin)
{
    @Html.ActionLink("New post!", "New", "Blog")
}