﻿@using TeknightBlog.Models
@model Post

@{
    ViewBag.Title = "New post";
    Layout = "../Shared/_Layout.cshtml";
}

@{
    var user = Session["User"] as User;
}
@if (user != null && user.Admin)
{
    using (Html.BeginForm("New", "Blog", FormMethod.Post))
    {
        <p>Title:</p>
        @Html.TextBoxFor(x => x.Title);
        <p>Content:</p>
        @Html.TextAreaFor(x => x.Content);
        <p>Description:</p>
        @Html.TextBoxFor(x => x.Description);

        <input type="submit" value="Create post" />
    }
}
else
{
    <b>You must be admin to create posts!!</b>
}