﻿@using TeknightBlog.Models
@model TeknightBlog.Models.Post

@{
    ViewBag.Title = Model.Title;
    Layout = "../Shared/_Layout.cshtml";
}

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
        @Html.Raw(HttpUtility.HtmlDecode(Model.Content))
        <hr>
        <div class="w3-row">
            <div class="w3-col m8 s12">
                <h5>@Model.Author, <span class="w3-opacity">@Model.PostDate.ToLongDateString()</span></h5>
                @if ((Session["User"] is User) && (Session["User"] as User).Admin)
                {
                    @Html.ActionLink("Edit post", "Edit/" + Model.UrlTitle, "Blog")
                }
            </div>
        </div>
    </div>
</div>

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
        <h3>Comments!</h3>
        <b>Comment:</b>
        @using (Html.BeginForm("Comment", "Blog", FormMethod.Post))
        {
            @Html.TextArea("comment");
            @Html.Hidden("postUrlTitle", Model.UrlTitle);
            <br>
            <input type="submit" value="Post comment" />
            <br>
        }

        @if (Model.Comments != null)
        {
            int i = 1;
            foreach (var comment in Model.Comments)
            {
                <h4>#@i</h4>
                <p>@comment</p>
                i += 1;
                <hr>
            }
        }
        <br>
    </div>
</div>